
#login{
	width        : 990px;
	margin       : 0 auto;
	margin-top   : 50px;
	margin-bottom: 20px;
	font-size    : 20px;
	text-align   : center;
}

#shopping{
	width        : 990px;
	margin       : 0 auto;
	margin-top   : 50px;
	margin-bottom: 20px;
	font-size    : 20px;
	text-align   : center;
}






#Allbox{
    width        : 990px;
    margin       : 0 auto;
    margin-top   : 20px;
    margin-bottom: 20px;
    font-size    : 20px
}
.cart-thead{
	height     : 32px;
	line-height: 32px;
	margin     : 0 0 10px;
	background : #f3f3f3;
	border     : 1px solid #e9e9e9;
	border-top : 0;
	margin-top : 10px
}

.cart-col{
	float    : left;
	font-size: 14px
}
.t-checkbox{
	height      : 18px;
	line-height : 18px;
	padding-top : 7px;
	width       : 122px;
	padding-left: 11px;
}

.cart-checkbox input{
	margin-right: 5px;
}
.t-goods{
	width: 208px;
}

.t-props{
	width     : 80px;
	height    : 32px;
	padding   : 0 20px;
	text-align: right;
}
.t-prices{
	width        : 120px;
	padding-right: 40px;
	text-align   : right;
	height       : 32px;
}

.t-quantity{
	text-align: center;
	width     : 80px;
}

.t-sum{
	width        : 160px;
	padding-right: 40px;
	text-align   : right;
}

.cell{
	float: left;

	line-height: 80px
}

#cart-list{
	margin-bottom: 10px
}

.cart-list-box{
	width : 100%;
	height: 110px;
	border: 1px solid black
}
.cart-list-check{
	margin-left : 12px;
	margin-right: 20px
}
.cart-list-sp{
	width: 200px;

	padding: 15px 0 10px 0;

}
.cart-list-sppic{
	width       : 80px;
	height      : 80px;
	margin-right: 10px;
	float: left;

}
.cart-list-sppic img{
	width : 80px;
	height: 80px;
}
.cart-list-spname{
 float         : left;
 height        : 90px;
 line-height   : 70px;
 font-size     : 16px;
 overflow      : hidden;
 position      : relative;
 display       : table-cell;
 text-align    : center;
 vertical-align: middle;

}


.cart-list-spclass{
	width  : 150px;
	padding: 15px 0 10px 0;
	text-align: center;
}
.cart-list-spprice{
	width  : 140px;
	padding: 15px 0 10px 0;
	text-align: center;
}
.cart-list-spnumber{
	float      : left;
	width      : 80px;
	padding    : 15px 0 10px;
	margin-left: 10px
}
.cart-list-spnumber input{
	width : 40px;
	height: 22px;

	text-align: center;
	background: white;
	border    : none
}
.numberbox{
	position  : relative;
	overflow  : hidden;
	margin-top: 25px;
	font-size : 14px;

	border: 1px solid #cacbcb
}
.numberdown{
	display     : inline-block;
	width       : 16px;
	text-align  : center;
	border-right: 1px solid #cacbcb;
	color       : black;

}
.numberup{
	display        : inline-block;
	width          : 16px;
	text-align     : center;
	border-left    : 1px solid #cacbcb;
	text-decoration: none;
	outline        : none;
	cursor         : pointer;
	color          : black;
	margin-left    : 5px
}
.cart-list-total {
	width : 90px;
	margin: 10px 20px  0  30px;
}
.cart-list-total p{
	text-align: center
}
.cart-list-operation{
	width : 50px;
	margin: 10px  0  0  20px;
}
.cart-list-operation>p{
	cursor: pointer;
}



#cart-footer{
	width     : 988px;
	height    : 50px;
	border    : 1px solid black;
	background: #fff;
	margin-top: 20px;
	position  : relative;
	font-size : 14px

}
.cart-footerinput {
	float      : left;
	height     : 18px;
	line-height: 18px;
	padding    : 16px 0 16px 9px;
}
.cart-footercenter{
	float      : left;
	height     : 50px;
	width      : 310px;
	line-height: 50px;
}
.cart-footercenter a{
	margin-left: 20px;
	display    : inline-block;
	height     : 50px;
}

.cart-footerright{
	overflow    : hidden;
	padding-left: 222px;
}
.cart-footer-price{
	float      : left;
	height     : 43px;
	line-height: 20px;
	margin     : 7px 0px 0  0;
	color      : #666;
	width      : 240px;
	font-size  : 14px

}
.cart-footernumber{
	float      : left;
	color      : #999;
	width      : 114px;
	height     : 44px;
	line-height: 20px;
	margin     : 7px 0 0;
	cursor     : pointer;
	font-size  : 13px
}
.cart-btn{
	float      : left;
	text-align : center;
	line-height: 48px;

}
.cart-btna{
	display         : block;
	text-align      : center;
	line-height     : 48px;
	width           : 50px;
	height          : 48px;
	background-color: #e4393c;
	color           : black;
	cursor          : pointer;
}

.totalprice{
	font-size  : 18px;
	color      : #e4393c;
	font-weight: 700;
}
.em{
	color      : #e4393c;
	font-family: verdana;
	font-weight: 700;
	margin     : 0 3px;
}
.cart-content{
	margin:0 auto;
	width: 540px;
	height: 304px;
}
.cart-content>img{
	float: left;
	padding-top: 68px;
	padding-left: 10px;
}
.cart-tips{
	padding-left: 74px;
	float: left;
}
.cart-tips>h2{
	padding-top: 110px;
	font-size: 24px;
	color:#666;
}
.cart-tips>.login{
	margin:0 20px;
	display: inline-block;
	font-size: 14px;
	margin-top: 30px;
	width: 80px;
	height: 30px;
	border:none;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	outline: none;
	color:#fff;
	background-color: #ff9211;
}